div.row
  div(class="two-thirds fn")
    h2 About Kristoffer
    p
      | I believe in a simpler, less frustrating world. My greatest pleasure in life is taking complicated things, and making them simple. I apply this all areas of my life, not just Web Development. I love good company and  enjoy making music, traveling, growing my skills, and practicing simple living.
    p
      | I was born on April 19 1987 in Batangas, Philippines. At the age of three, I immigrated with my family to the United States. I grew up in Marysville, Washington and attended Marysville Pilchuck High school, where I graduated in 2005, and I completed my AA in Web Design in 2010.
  div.third.tc.fn.bg-red.pt.pb
      img(src='/images/kristoffer.png')
      h3 Kristoffer Hebert
      p.small.mbs
        em Principal Web Consultant
      p.mbs.small I can help you with
      div(class="fn pl pr")
        ul.small.tl
          li Full-stack Javascript Development
          li Product Idea to Roadmap
          li Automating your business
          li Conversion Rate Optimization