head
    meta(name="robots", content="index, follow")
    meta(name="google-site-verification", content="n6084dFJKZXAofdergQBNheQGt07iVq1xNY-kYHjlYc")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="author", content="Kristoffer Hebert")
    meta(name="description", content="#{description}")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{title} | kristofferhebert.com - Kristoffer Hebert
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/main.css")