div.row
  div(class="two-thirds fn")
    img(src='https://s3-us-west-2.amazonaws.com/kristofferhebert/kristofferhebert.png', class="fr mobile-centered" width="192")
    h1.mb0 Who is Kristoffer Hebert?
    h3
        em Full stack JavaScript Engineer
    p I am a AWS Certified Solutions Architect, and specialize in Fullstack Serverless JavaScript applications.
    p Technologies: AWS, Docker, Node.js, React, HTML5, and SASS
    p
      | I am working toward a simpler, more meaningful world.
      p.small.mbs
      p.mbs.small I can help you with:
      div(class="fn pl pr")
        ul.small.tl
          li Fullstack JavaScript Development
          li Single page apps in React
          li Serverless AWS Setups
          li Product Idea to Roadmap
          li Automating your business

    P Check out my #[a(href="https://medium.com/@khbrt", target="_blank") blog].
